<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%- settings.title %>
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Haikus for Mona">
  <meta property="og:description" content="Some of the best haikus you'll ever read about our rescue dog June">
  <meta property="og:image" content="/images/sunlight.jpg">
  <link rel="stylesheet" href="/css/main.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      VANTA.BIRDS({
        el: '#background',
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        birdSize: 1,
        wingSpan: 40.0,
        speedLimit: 3.0,
        separation: 100.0,
        quantity: 1.0,
        alignment: 77.0,
        cohesion: 5.0,
        backgroundAlpha: 0.0,
      });
    });
  </script>
</head>

<body>
  <main>
    <div class="links">
      <div class="link">
        <img class="profile" src="/images/profile_img.jpg" alt="profile-image" />
      </div>
      <div class="name">
        <h1><%- settings.heading %> </h1>
      </div>

      <div class="link">
        <button class="button-pushable" role="button">
          <span class="button-shadow"></span>
          <span class="button-edge"></span>
          <span class="button-front text"> Facebook </span>
        </button>
      </div>
      <div class="link">
        <button class="button-pushable" role="button">
          <span class="button-shadow"></span>
          <span class="button-edge"></span>
          <span class="button-front text"> Instagram </span>
        </button>
      </div>
      <div class="link">
        <button class="button-pushable" role="button">
          <span class="button-shadow"></span>
          <span class="button-edge"></span>
          <span class="button-front text"> Twitter </span>
        </button>
      </div>
    </div>
    <div id="background" aria-label="background-image"></div>
  </main>
</body>

</html>